body {
   background-image: url('/public/Images/ocean-water.png');
   cursor: crosshair;
   display: flex;
   flex-direction: column;

   
}

.top-effect {
    position: fixed;
    inset: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, 0), rgb(0, 9, 29));
    height: 60%;
    z-index: 0;
}

.grid-bg {
    position: fixed;
    inset: 0;
    background-image: url('/public/Images/grid-bg.png');
    background-repeat: repeat;
    opacity: 0.3;
    z-index: -2;
}


.bubbles {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; 
    overflow: hidden;
    z-index: -1;
}


.bubbles span {
    position: absolute;
    bottom: -50px;
    width: 10px;
    height: 10px;
    background: rgba(165, 205, 218, 0.96);
    border-radius: 50%;
    animation: rise 10s linear infinite;
}


@keyframes rise {
    0% {
        transform: translateY(0) scale(1);
        opacity: 0;
    }
    10% {
        opacity: 0.4;
    }
    100% {
        transform: translateY(-110vh) scale(1.5);
        opacity: 0;
    }
}

.bubbles span:nth-child(1) {
    left: 10%;
    animation-duration: 8s;
    width: 8px;
    height: 8px;
}

.bubbles span:nth-child(2) {
    left: 20%;
    animation-duration: 12s;
    width: 12px;
    height: 12px;
}

.bubbles span:nth-child(3) {
    left: 35%;
    animation-duration: 9s;
}

.bubbles span:nth-child(4) {
    left: 50%;
    animation-duration: 14s;
}

.bubbles span:nth-child(5) {
    left: 70%;
    animation-duration: 11s;
}

.bubbles span:nth-child(6) {
    left: 85%;
    animation-duration: 10s;
}


.h1-title-wrapper {
    
}

h1 {
    position: relative;
    z-index: 2;
    font-size: 7em;
    font-weight: 900;
    color: rgba(0, 0, 0, 0.856);
    -webkit-text-stroke: 1px rgb(247, 254, 253);
    letter-spacing: -5px;
    
}
    
.under-title-text {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 4em;
    letter-spacing: 1px;
    color: aqua;
    z-index: 5;
    font-size: 1.5em;
    
}

.search-area {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
    margin-bottom: 1em;
}

.search-wrapper {
    position: relative;
    width: 40vw;
}

.search-bar {
    width: 100%;
    padding: 1em 0;
    padding-left: 1em;
    border: 1px solid aqua;
    font-size: 1em;
    background: rgb(0, 2, 11);
}


.search-btn {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 80%;
    padding: 1em;
    margin-right: 0.5em;
}

.info-cards-container {
        padding: 1em;
          margin: 2em;
          display: grid;
          grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
          gap: 2em;
          
        
}


.info-card {    
        border: 1px solid white;
        padding: 1em;
        cursor: crosshair;
        max-width: 15vw;
        transition: 0.3s;
        background: rgba(0, 135, 130, 0.159);
        backdrop-filter: blur(5px);
        clip-path: polygon(66% 0, 92% 0, 100% 8%, 100% 89%, 91% 100%, 7% 100%, 0 92%, 0 0);
        transition: 0.3s ease-in;          
}

