.navbar-wrapper {
    margin-top: 6em;
    width: 100%;
    height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
       clip-path: polygon(0 13%, 15% 12%, 20% 0, 40% 0, 44% 10%, 61% 10%, 65% 0, 100% 0, 100% 24%, 97% 36%, 97% 100%, 0 100%);
       background: linear-gradient(
        to bottom,
        rgb(243, 125, 0) 10%,
        rgb(255, 77, 0) 50%
    );
    
    
}

.navbar-container {
    background: rgb(0, 5, 26);
    border-radius: 0.2em;
    display: flex;
    flex-direction: row;
    gap: 6em;
    justify-content: center;
    align-items: center;
    width: 55vw;
    height: 2em;
    padding: 0.4em;
    font-family: "Quantico";
    letter-spacing: 1px;
    font-size: 1.5em;
    backdrop-filter: blur(2px);
}

.navbar-container a {
    text-decoration: none;
    color: white;
    z-index: 0;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.nav-link {
    position: relative;
    text-decoration: none;
    color: white;
    padding: 0.5em 1em;
    letter-spacing: 1px;
    transition: 0.3s ease;
}


.nav-link:hover {
    color: #00f0ff;
}


.nav-link.active {
    color: #abf9ff;
}


.nav-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 2px;
    background: linear-gradient(90deg, #00f0ff, transparent);
    transition: width 0.3s ease;
}

.nav-link:hover::after {
    width: 100%;
}

.nav-link.active::after {
    width: 100%;
}
@media screen and (min-width: 769px) and (max-width: 1940px) {
    .navbar-wrapper {
       height: 15vh;
       
    }

    
}

 @media screen and (max-width: 768px) {
   .navbar-wrapper {
    z-index: 9;
    left: 0;
    width: 100%;
    z-index: 0;
    margin-top: 0;
    clip-path: none;
    padding: 0.5em 0;
}

.navbar-container {
    width: 90%;
    height: auto;
    flex-wrap: wrap; 
    gap: 0.5em;
    padding: 0.6em;
    border-radius: 0.6em;
    
}  
    }

@media screen and (max-width: 480px){

.navbar-wrapper {
    margin-top: 8em;
    width: 100%;
    margin-top: 0;
    clip-path: none;
    padding: 0.5em 0;
}

.navbar-container {
    width: 90%;
    height: auto;
    flex-wrap: wrap; 
    gap: 0.5em;
    padding: 0.6em;
    border-radius: 0.6em;
}


.nav-link {
    flex: 1 1 40%; 
    text-align: center;
    font-size: 0.9em;
    padding: 0.8em 0.5em;
}


.nav-link::after {
    height: 1px;
}
}


