.navbar-container {
    background: black;
    display: flex;
    flex-direction: row;
    gap: 4em;
    justify-content: center;
    align-items: center;
    height: 3em;
    padding: 1em;
    font-family: "Quantico";
    letter-spacing: 1px;
    font-size: 2em;
}

.navbar-container a {
    text-decoration: none;
    color: white;
    z-index: 2;
}