.about-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50%;
    width: 100%;
    padding: 2em;
    line-height: 2;
    letter-spacing: 1px;
    color: rgb(253, 240, 217);
}

.about-content {
    width: 70%;
    animation: floatIn 0.5s linear;
}

@keyframes floatIn {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
