:root {
  --text1: rgb(210, 241, 255);
  --background: #0a0e14;
  --foreground: #00f4ff;
  font: 18px/145% var(--sans); 
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}


body {
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Orbitron", monospace;
    color: var(--text1); 
}

 

#root {  
  margin: 0 auto;
  text-align: center;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

body {
  margin: 0;
}


